In [51]:
#Dependencies
import pandas as pd
import numpy as np

In [52]:
#Name of the CSV file
file = "Resources/purchase_data.csv"

In [53]:
#CSV in pandas
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [54]:
df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [55]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [106]:
#Player Count and Purchasing Analysis (Total)

#Player count
groupby_sn = df.groupby("SN")
count_player = len(groupby_sn)

#Unique items
groupby_items = df.groupby("Item ID")
count_items = len(groupby_items)

#Average price
avg_price = round(df["Price"].mean(), 2)
avg_price

#Total # of purchases
total_num_purchase = df['Purchase ID'].count()
total_num_purchase


#Total revenue
total_revenue = df['Price'].sum()
total_revenue

#Summary
purchase_summary = pd.DataFrame({"Total Players": [count_player],
                           "Number of Unique Items": [count_items],
                           "Average Price": [avg_price],
                           "Number of Purchases": [total_num_purchase],
                           "Total Revenue": [total_revenue]
                           })
purchase_summary.style.format({"Total Revenue":"${:,.2f}",
                              "Average Price": "${:,.2f}"})

In [57]:
#To see all the gender categories
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [58]:
### Gender Demographics

#To remove duplicates since the same person could have purchased multiple items

groupedby_gender = df.groupby('Gender')
gender_counts = groupedby_gender['SN'].nunique()
sum_gender_counts = gender_counts.sum()


#Count of Male Players
male_count = gender_counts['Male']
male_percent = (male_count/sum_gender_counts) * 100


#Count Females
female_count = gender_counts['Female']
female_percent = (female_count/sum_gender_counts) * 100


#Count Other
other_count = gender_counts['Other / Non-Disclosed']
other_percent = (other_count/sum_gender_counts) * 100



#summary
gender_df = pd.DataFrame(gender_counts)
gender_df['Percents'] = [female_percent, male_percent, other_percent]
gender_df["Percents"] = gender_df["Percents"].map("{:.2f}%".format)
gender_df.columns = ["Total Count", "Percentage"]

gender_df

                       Total Count Percentage
Gender
Female                          81     14.06%
Male                           484     84.03%
Other / Non-Disclosed           11      1.91%

In [117]:
### Purchasing Analysis (Gender)

#Purchase count
purchase_count = df.groupby('Gender')['Item ID'].count()

#Average purchase
average_purchase = round(df.groupby('Gender')['Price'].mean(), 2)

#Total purchase
total_purchase = df.groupby('Gender')['Price'].sum() 



#Summary
summary_purchasing_analysis = pd.DataFrame({"Purchase Count": purchase_count,
                                           "Average Purchase Price": average_purchase,
                                            "Total Purchase Value": total_purchase                                            
                                               })

summary_purchasing_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}"
                                          })

In [60]:
### Age Demographics
df['Age'].describe()

count    780.000000
mean      22.714103
std        6.659444
min        7.000000
25%       20.000000
50%       22.000000
75%       25.000000
max       45.000000
Name: Age, dtype: float64

In [119]:
# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
# bins = [0, 4.9, 8.9, 12.9, 16.9, 20.9, 24.9, 28.9, 32.9, 36.9, 40.9, 44.9, 48.9 ]
# group_names = ["0-4", "5-8", "9-12", "13-16", "17-20", "21-24", "25-28", "29-32", "33-36", "37-40", "41-44", "45-48"]

bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 1234]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Group"] = pd.cut(df["Age"], bins, labels=group_names)
df['Age Group'].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Group, dtype: int64

In [120]:
#   Average Purchase Price
group_by_age = df.groupby("Age Group")

#Purchase Count
age_purchase_counts = group_by_age['SN'].nunique()   

#Average Purchase Price
age_average_purchase_price = round(group_by_age['Price'].mean(), 2)

#Total Purchase Value
age_total_purchase_value = group_by_age['Price'].sum()


#Summary
summary_age_demographics = pd.DataFrame({"Purchase Count": age_purchase_counts,
                                           "Average Purchase Price": age_average_purchase_price,
                                            "Total Purchase Value": age_total_purchase_value
                                               })
summary_age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [110]:
### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN


top_spenders_total = groupby_sn["Price"].sum()

top_spenders_average = groupby_sn["Price"].mean()

top_spenders_count = groupby_sn["Item ID"].count()

#Summary
summary_top_spenders = pd.DataFrame({"Purchase Count": top_spenders_count,
                                           "Average Purchase Price": top_spenders_average,
                                            "Total Purchase Value": top_spenders_total
                                               })

summary_top_spenders_ascending = summary_top_spenders.sort_values("Total Purchase Value", ascending=False).head()

summary_top_spenders_ascending.style.format({"Average Purchase Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [113]:
### Most Popular Items


popular_items = df[["Item ID", "Item Name", "Price"]]

#Groupby name and ID
popular_items_df = popular_items.groupby(["Item ID","Item Name"])

#Popular item count
popular_items_count = popular_items_df["Price"].count()

#Popular item total
popular_items_total = popular_items_df["Price"].sum()

#Popular item cost
popular_items_price = popular_items_total/popular_items_count


#Summary
popular_items_summary = pd.DataFrame({"Purchase Count": popular_items_count, 
                                   "Item Price": popular_items_price,
                                   "Total Purchase Value":popular_items_total})

popular_items_ascending = popular_items_summary.sort_values(["Purchase Count"], ascending=False).head()


popular_items_ascending.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [114]:
### Most Profitable Items

#Sorting the table

profitable_items_ascending = popular_items_summary.sort_values(["Total Purchase Value"], ascending=False).head()
profitable_items_ascending.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})